Django==4.2.7
crispy-forms==2.0
crispy-bootstrap5==0.7
django-widget-tweaks==1.5.0
whitenoise==6.5.0
Pillow==9.5.0
reportlab==3.6.12
django-extensions==3.2.3
python-decouple==3.8
gunicorn==20.1.0
psycopg2-binary==2.9.6
redis==4.5.4
celery==5.2.7
django-celery-beat==2.4.0
django-celery-results==2.4.0
django-filter==22.1
djangorestframework==3.14.0
django-cors-headers==4.0.0
